*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
background: linear-gradient(to right,#6a11cb #2575fc );
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}


.container{
background:hwb(0 100% 0%);
padding: 30px 25px;
border: 2px solid gray;
border-radius: 12px;
box-shadow: 0 4px 10px;
width: 350px;
text-align: center;
}

.container h2{
    padding-bottom: 15px;
    color: #474747;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #b0a9a9;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: 0.5s;
}

input:focus{
border-color: #2575fc;
box-shadow: 0 0 5px rgb(37,115,252,0.4);
}


/* button*/

button{
    width:100%;
    height: 25px;
    margin-top: 10px ;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s; 
}

button:hover{
    background: rgb(76, 0, 255);
}


p{
    margin-top: 15px;
    font-size: 1rem;

}

p a{
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;

}

p a:hover{
    text-decoration: underline;

}

#errorMsg{
margin-top: 15pxpx;
font-size: 1rem;
color: red;
}